<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION " />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.BIND_NETWORK_TASK_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitTrack"
        tools:targetApi="31">
        <activity
            android:name=".AdditionalNutrtionalInformationActivity"
            android:exported="false" />
        <activity
            android:name=".AdditionalNutritionalInformationActivity"
            android:exported="false" />
        <activity
            android:name=".AINutritionInsightsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesByMonthActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DeletePostActivity"
            android:exported="false" />
        <activity
            android:name=".CreateManualActivity"
            android:exported="false" />
        <activity
            android:name=".EditMeetupActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAttendeesActivity"
            android:exported="false" />
        <activity
            android:name=".PostCommentsActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".EditFitnessEvent"
            android:exported="false" />
        <activity
            android:name=".AIScheduleTrainingPlan"
            android:exported="false" />
        <activity
            android:name=".AIMenu"
            android:exported="false" />
        <activity
            android:name=".PersonalRecordsActivity"
            android:exported="false" />
        <activity
            android:name=".MyBadgesActivity"
            android:exported="false" />

        <receiver
            android:name=".LogFoodNotificationReceiver"
            android:exported="false" />

        <activity
            android:name=".ChallengeInviteActivity"
            android:exported="false" />
        <activity
            android:name=".LikesRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".SelectExerciseTypeActivity"
            android:exported="false" />
        <activity
            android:name=".FoodInformationActivity"
            android:exported="false" />
        <activity
            android:name=".NutritionTrackingOverview"
            android:exported="false" />
        <activity
            android:name=".CreateGoalActivity"
            android:exported="false" />
        <activity
            android:name=".GoalSettingActivity"
            android:exported="false" />
        <activity
            android:name=".AdminGroupRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".GroupOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".GroupInformationActivity"
            android:exported="false" />
        <activity
            android:name=".CreateRunningGroupActivity"
            android:exported="false" />
        <activity
            android:name=".FindRunningGroupsActivity"
            android:exported="false" />
        <activity
            android:name=".GamificationGraph"
            android:exported="false" />
        <activity
            android:name=".CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".OverviewFitnessStats"
            android:exported="false" />
        <activity
            android:name=".NutritionTracking"
            android:exported="false" />
        <activity
            android:name=".Calendar"
            android:exported="false" />
        <activity
            android:name=".AIAssistantActivity"
            android:exported="false" />
        <activity
            android:name=".GroupActivity"
            android:exported="false" />
        <activity
            android:name=".GroupsMenu"
            android:exported="false" />
        <activity
            android:name=".RetrieveWearableData"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MessagingChatActivity"
            android:exported="false" />
        <activity
            android:name=".DirectMessagingMenu"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".DrawRouteActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="${FACEBOOK_APP_ID}" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="${FACEBOOK_CLIENT_TOKEN}" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />

        <service
            android:name=".LocationTracker"
            android:foregroundServiceType="location"
            android:permission="android.permission.BIND_LOCATION_SERVICE" />
    </application>

</manifest>